body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}

.cabecalho {
    background: #222;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho h1 {
    margin: 0;
    font-size: 24px;
}

.subtitulo {
    text-align: center;  
    margin: 20px auto;
    font-size: 18px;
    color: #d01f1f;
    max-width: 600px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.botao-container {
    display: flex;
    justify-content: center; 
    margin: 20px;
}

.botao-criar-conta {
    display: inline-block;
    background: #007bff;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    transition: 0.3s;
}

.botao-criar-conta:hover {
    background: #0056b3;
}


.carousel {
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
}

.carousel img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.descricao {
    margin: 20px auto;
    font-size: 18px;
    color: #000000;
    max-width: 600px;
}

.botao-container {
    margin: 20px;
}

.botao-criar-conta {
    display: inline-block;
    background: #007bff;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    transition: 0.3s;
}

.botao-criar-conta:hover {
    background: #0056b3;
}
